body{

width: 520px;

font-family: Calibri;

font-size: 12px;

margin: 0 auto;

}

h1

{

font-size: 16px;

font-weight:bold;

}

.content-Section

{

border-radius: 5px;

border: 1px solid black;

padding: 20px;

}

.account-container

{

border-radius: 2px;

border: 1px solid black;

padding: 20px;

}



.account-Info

{

display:none;

padding-left:40px;

padding-right:40px;

}

.account-Info hr {

height: 10px;

border: 0;

box-shadow: 0 10px 10px -10px #7BDAEE inset;

}

.login-container hr

{

height: 1px;

border: 0;

box-shadow: 0 10px 10px -10px black inset;

}

.btn-right

{

float:right;

}

.errMsg

{

color:red;

}

@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {

body{

width: 300px;

font-family: Calibri;

font-size: 12px;

margin: 0 auto;

}

.content-Section

{

border-radius: 5px;

border: 1px solid black;

padding: 10px;

}

.btn

{

width:100%;

}

footer

{

text-align:center;

}

.account-Info .col-md-4

{

padding-bottom:10px;

}

}